/* ==UserStyle==
@name           SuperSoluce responsive
@version        1.0.1
@description    Le site SuperSoluce est mieux adapté aux écrans larges.
@author         BreatFR (https://breat.fr)
@namespace      https://gitlab.com/breatfr
@homepageURL    https://gitlab.com/breatfr/supersoluce
@updateURL      https://gitlab.com/breatfr/supersoluce/-/raw/main/css/supersoluce-responsive.user.css
@supportURL     https://discord.gg/Q8KSHzdBxs
@license        AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
==/UserStyle== */

/* === Credits ===
Website         https://breat.fr
facebook        https://www.facebook.com/breatfroff
mastodon        https://mastodon.social/@breat_fr
telegram        https://t.me/breatfr
vk              https://vk.com/breatfroff
X (twitter)     https://x.com/breatfroff
=== Credits === */

@-moz-document domain("supersoluce.com") {
    p {
        font-size: 1.2rem !important;
    }
    
    body {
        background: transparent;
        max-width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    body>section,
    body>section>div,
    .container,
    .content,
    .inner_container_large {
        max-width: 100% !important;
        width: 100% !important;
    }
    article > .content p {
        margin-right: 20px !important;
    }

    .page_content_right {
        float: none !important;
        width: 100% !important;
    }
    
    #game_block,
    .sidebar,
    .rwad-with-placeholder.rwad-with-placeholder-pos-1,
    #multimedia_wrapper_mobile {
        display: none !important;
    }
}
